POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GOOSE_DBSTRING="user=SECRET password=SECRET dbname=SECRET host=postgres sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR="./apps/backend/url/internal/adapters/postgresql/migrations"
