@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-background: #000;
	--color-surface: #09090b;

	--color-foreground: #fafafa;
	--color-muted-foreground: #a1a1aa;
	--color-subtle-foreground: #71717a;

	--color-placeholder: #52525b;
	--color-border: #27272a;
	--color-ring: #71717a;

	--color-primary: #fafafa;
	--color-primary-foreground: #18181b;
	--color-primary-hover: #d4d4d8;

	--color-secondary: #18181b;
	--color-secondary-foreground: #fafafa;
	--color-secondary-hover: #1f1f22;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	a {
		@apply cursor-pointer transition-colors hover:text-muted-foreground;
	}

	nav a,
	section header a {
		@apply text-sm text-muted-foreground hover:text-foreground;
	}

	.sidebar-nav a {
		@apply flex items-center gap-2.5 bg-background px-4 py-2 text-foreground hover:bg-secondary-hover hover:text-foreground;
	}

	.sidebar-nav a.active {
		@apply bg-primary text-primary-foreground;
	}

	.sidebar-nav svg {
		@apply size-4 shrink-0;
	}

	section {
		@apply overflow-hidden rounded border bg-surface;
	}

	section > header {
		@apply border-b px-4 py-3 sm:px-5;
	}

	h1,
	h2 {
		@apply font-mono text-sm font-semibold text-foreground;
	}

	input[type='text'],
	input[type='url'] {
		@apply w-full rounded border-border bg-background text-foreground placeholder:text-placeholder focus:border-ring focus:ring-ring;
	}

	button {
		@apply flex cursor-pointer items-center gap-2 rounded-lg bg-primary px-4 py-2 font-medium text-primary-foreground transition-colors hover:bg-primary-hover;
	}

	button.secondary {
		@apply bg-secondary text-secondary-foreground hover:bg-secondary-hover;
	}

	svg {
		@apply size-4.5 shrink-0;
	}

	svg.small {
		@apply size-4;
	}
}
